﻿@model Choffmeister.Mvc.Helpers.FlashMessages
@if (Model.HasInfos)
{
    <div class="box info">
        @foreach (string info in Model.Infos)
        {
            <div>@info</div>
        }
    </div>
}
@if (Model.HasSuccesses)
{
    <div class="box success">
        @foreach (string success in Model.Successes)
        {
            <div>@success</div>
        }
    </div>
}
@if (Model.HasWarnings)
{
    <div class="box warning">
        @foreach (string warning in Model.Warnings)
        {
            <div>@warning</div>
        }
    </div>
}
@if (Model.HasErrors)
{
    <div class="box error">
        @foreach (string error in Model.Errors)
        {
            <div>@error</div>
        }
    </div>
}