﻿@model IPageable
<ul>
    @if (!Model.IsFirstPage)
    {
        <li><a href="@Url.Action(null, null, new PagerRouteValueDictionary(Request.QueryString, 0))">
            &lt;&lt;</a></li>
        <li><a href="@Url.Action(null, null, new PagerRouteValueDictionary(Request.QueryString, Model.CurrentPage - 1))">
            &lt;</a></li>
    }
    else
    {
        <li><span>&lt;&lt;</span></li>
        <li><span>&lt;</span></li>
    }
    @foreach (var page in Model.GetSurroundingPageIndices())
    {
        if (page == Model.CurrentPage)
        {
        <li><span class="active">@((page + 1).ToString())</span></li>
        }
        else
        {
        <li><a href="@Url.Action(null, null, new PagerRouteValueDictionary(Request.QueryString, page))">@((page + 1).ToString())</a></li>
        }
    }
    @if (!Model.IsLastPage)
    {

        <li><a href="@Url.Action(null, null, new PagerRouteValueDictionary(Request.QueryString, Model.CurrentPage + 1))">
            &gt;</a></li>
        <li><a href="@Url.Action(null, null, new PagerRouteValueDictionary(Request.QueryString, Model.TotalPageCount - 1))">
            &gt;&gt;</a></li>
    }
    else
    {
        <li><span>&gt;</span></li>
        <li><span>&gt;&gt;</span></li>
    }
</ul>